body{
    background:url(/static/photos/pic10.jpg);
    background-size:cover;
    overflow-x: hidden;
}

body h1{
    text-align: center;
    color: white;

}

  

#pink{
    background-color:pink;
    border:2px solid red;
}

#container1{
    position: relative;
    background-color: rgba(255,255,255,0.9);
    top:15%;
    left:30%;
    width:40%;
    height:80%;
}


#c1{
    color: black;
    font-size: 200%;
}

#submit{
    position: relative; 
    left:25%;
    width:50%;
}